.container{
font-family: Montserrat;
}

.row{
width: 100%;
display: flex;
justify-content: space-evenly;
margin: 0vh 0;
flex-wrap: wrap;
}

h2{
  font-size: 22px;
}

h1{
  font-size: 28px;
}

.col-6{
  flex-basis: 40%;
  text-align: center;
  background-color: rgba(255,182,193 ,.2 );
  border-radius: 10px;
  margin-top: 1rem;
}
.col-title{
  flex-basis: 100%;
  text-align: center;
  background-color: rgba(255,182,193 ,.4 );
}

.v-align{
position: relative;
top: 10%;
}

.m-height{
height: 20vh;
}

.s-height{
height: 8vh;
}

.pointer{
  cursor: pointer;
}
.theme-point{
transition: all ease .4s;
}

.theme-point:hover{
background-color: grey;
transition: all ease .4s;
}

input.push-down-input{
position: relative;
top: 4vh;
}

.col-12{
flex-basis: 50%;
text-align: center;
}

input {
  background-color: rgba(255,255,255 ,.0);
  width: 80%;
  border-color: rgba(0,0,0,0);
  border-radius: 5px;
}
::placeholder {
  color:white;
  opacity: 1;
}
.col-bar{
  display: flex;
  flex-basis: 20%;
  text-align: center;
  background-color: rgba(255,182,193 ,.4 );
  flex-wrap: wrap;

}
.input-bar{
  text-align: center;
  background-color: rgba(255,182,193 ,0 );
}

.push-down-submit{
  position: relative;
  top: 5vh;
  background-color: lightcoral;
}

.dark{
  background-color: black;
  color: white;
}

.cityRain{
  background-image: url(assets/cityrain.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  transition: all .25s ease-in-out;
  color:white;
}

.haze{
  background-image: url(assets/haze.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  transition: all .25s ease-in-out;
}
.leaf{
  background-image: url(assets/leaf.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color:white;
  transition: all .25s ease-in-out;

}

.lights{
  background-image: url(assets/lights.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  transition: all .25s ease-in-out;
}

.meteor{
  background-image: url(assets/meteor.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  transition: all .25s ease-in-out;
}

.rain{
  background-image: url(assets/rain.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  transition: all .25s ease-in-out;
}

.stars{
  background-image: url(assets/stars.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color:white;
  transition: all .25s ease-in-out;
}

.sun{
  background-image: url(assets/sun.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color:white;
  transition: all .25s ease-in-out;
}

.watering{
  background-image: url(assets/watering.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  transition: all .25s ease-in-out;
  color:white;
}

.background-slider{
  position: relative;
}

.pink{
background-color: rgba(255,182,193 ,.2 );
}

.grey{
background-color: rgba(232, 236, 241, .2);
}

.white{
  color: white;
}

.black{
  color: black;
}

.absolute{
  position: absolute;
  bottom: 4vh;
  left: 2vh;
  right: 2vh;
  justify-content: space-evenly;
}

.flex{
  display: flex;
  flex-direction: row;
}

button{
  border-radius: 5px;
  background-color: rgba(255,255,255,.1);
  border: 0;
}

.push-up{
  position: relative;
  bottom: 2vh;
}
.push-up-more{
  position: relative;
  bottom: 7vh;
}
.theme-btns{
  font-size: 17px;
}

@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2) {
}

@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {

body{
margin: 0;
height: 667px;
overflow: hidden;
}
}

@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

body{
  width: 667px;
  height: 375px;
  overflow: hidden;
}

.col-6{
  flex-basis: 40%;
  height: 9rem;
  position: relative;
  margin-left: 1.7rem;
  top: 1rem;
  justify-content: left;
}

.row{
  justify-content: left;
}

.row.push-up{
  position: absolute;
  top: 10rem;
  left: 20rem;
}

.row.push-up.foreign{
  left: 29rem;
  top: 15rem;
}

.row.push-up.local{
  left: 29rem;
  top: 5rem;
}

div.col-12 p{
  width:200px;
  display: flex;
  margin:0;
}

div.col-12 {
  display: flex;
}
}
