.container{
font-family: Montserrat;
}

.white-background{
  background-color: white;
  padding: 2rem;
  border-radius: 10px;
  position: fixed;
  top: 40vh;
}

.black-background{
  background-color: rgba(0,0,0,.3);
  position: fixed;
  top:0;
  bottom:0;
  left: 0;
  right:0;
}
.okay{
  background-image: linear-gradient(to right, rgba(252, 166, 81, .9) , rgba(246, 49, 55, .9));
}
.balloon{
  background-image: url(./assets/balloons2.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.pac{
  font-family: 'Pacifico', cursive;
}
.big-text{
  font-size:1.5rem;
}
.orange{
  background-image: linear-gradient(to right, rgba(252, 166, 81, .9) , rgba(246, 49, 55, .9));
  border-radius: 10px;
}
.bold{
  font-weight: bold;
  color: white;
}
.holder{
  width: 8rem;
  height: 3rem;
  margin: 2rem;
  text-align: center;
}

h2{
  font-size: 22px;
}

h1{
  font-size: 6rem;
}

.col-6{
  flex-basis: 40%;
  text-align: center;
  border-radius: 10px;
  margin-top: 1rem;
}

.v-align{
position: relative;
top: 10%;
}

.m-height{
height: 20vh;
}

.pointer{
  cursor: pointer;
}

input.push-down-input{
position: relative;
top: 4vh;
color: black;
background:white;
}

input {
  background-color: rgba(255,255,255 ,.0);
  width: 80%;
  border-color: rgba(0,0,0,0);
  border-radius: 5px;
}

::placeholder {
  color:black;
  opacity: 1;
  text-align: center;
}

.push-down-submit{
  position: relative;
  top: 5vh;
  background-color: lightcoral;
}


button{
  border-radius: 5px;
  background-color: rgba(255,255,255,.1);
  border: 0;
}

.spinner-border{
  position: relative;
  top: 1vh;
  width: 3rem;
  height:3rem;
}

@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {

  h1{
    font-size: 5rem;
  }
  .orange{
    padding: 0;
  }
  .holder{
    margin:1rem;
  }
  .port-input{
    width: 9rem;
  }
}

@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

    .landscape-phone{
      position: relative;
      bottom: 5rem;
    }
    h1{
      font-size: 5rem;
    }
}

.hidden {
  display: none;
}

.black-background.hidden{
  display:none;
}
